<h1><%= @report.title %></h1>
<p><%= @report.content %></p>

<h2>Grades</h2>
<ul>
    <% @grades.each do |grade| %>
        <li>Score: <%= grade.score %></li>
    <% end %>
</ul>

<h3>New Grade</h3>
<%= form_with(model: [@report, @report.grades.build]) do |form| %>
    <div>
        <%= form.label :score %>
        <%= form.number_field :score %> 
    </div>
    <div>
        <%= form.submit 'Submit' %>
    </div>
<% end %>